<!DOCTYPE html>
<html>
  <head>
    <title>Approve</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
  </head>
  <body>
    <h1>Approve</h1>
    <table width="100%">
      <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Raw File</th>
        <th>Preview Image</th>
        <th>Status</th>
        <th>Controls</th>
      </tr>
<% result.forEach(function(obj){ %>
      <tr>
        <td style="text-align:center"><%=obj.id%></td>
        <td style="text-align:center"><%=obj.author_id%></td>
        <td style="text-align:center"><%=obj.title%></td>
        <td style="text-align:center"><%=obj.description%></td>
        <td style="text-align:center">
          <form action="/download" method="post" style="display: inline-block;">
            <button type="submit" name="path" value="<%=obj.raw_path%>">Download Raw</button>
          </form>
        </td>
        <td style="text-align:center">
           <img src="<%=obj.preview_path.substr((obj.preview_path.indexOf('/') + 1) * (obj.preview_path.indexOf('default/') != 0));%>" style="width: 100px; height: 100px;"> 
        </td>
        <td style="text-align:center"><%=obj.status%></td>
        <td style="text-align:center">
          <form action="/approve" method="post" style="display: inline-block;">
            <button type="submit" name="id" value="<%=obj.id%>" style="background-color: #4CAF50;">Accept</button>
          </form>
          <form action="/reject" method="post" style="display: inline-block;">
            <button type="submit" name="id" value="<%=obj.id%>" style="background-color: #f44336;">Reject</button>
          </form>
        </td>
      </tr>
      <%})%>
    </table>
  </body>
</html>