<!DOCTYPE html>
<html>
  <head>
    <title>Approve</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
  </head>
  <body>
    <h1>Approve</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Raw Path</th>
        <th>Preview Path</th>
        <th>Status</th>
      </tr>
<% result.forEach(function(obj){ %>
      <tr>
        <td><%=obj.id%></td>
        <td><%=obj.title%></td>
        <td><%=obj.description%></td>
        <td><%=obj.raw_path%></td>
        <td><%=obj.preview_path%></td>
        <td><%=obj.status%></td>
      </tr>
      <%})%>
    </table>
  </body>
</html>