<!DOCTYPE html>
<html>
  <head>
    <title>Browse</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
      function browse() {
        $.post("/browse", {
          search: document.getElementById('search').value,
          category: document.getElementById('category').value,
          page: document.getElementById('page').value
        },
        (data, status) => {
          var table = document.getElementById("table");
          table.getElementsByTagName("tbody")[0].innerHTML = table.rows[0].innerHTML;

          data.results.forEach((result) => {
            var row = table.insertRow(table.rows.length);

            var authorCell = row.insertCell(row.cells.length);
            authorCell.style = "text-align:center";

            var profilePicture = document.createElement('img');
            profilePicture.src = result.author_profile_path;
            profilePicture.style="width: 50px; height: 50px;";
            authorCell.appendChild(profilePicture);

            var authorUsername = document.createElement('a');
            authorUsername.innerHTML = result.author_username;
            authorCell.appendChild(authorUsername);

            var titleCell = row.insertCell(row.cells.length);
            titleCell.style = "text-align:center";
            titleCell.innerHTML = result.title;

            var descriptionCell = row.insertCell(row.cells.length);
            descriptionCell.style = "text-align:center";
            descriptionCell.innerHTML = result.description;

            var categoryCell = row.insertCell(row.cells.length);
            categoryCell.style = "text-align:center";
            categoryCell.innerHTML = result.category;

            var previewImageCell = row.insertCell(row.cells.length);
            previewImageCell.style = "text-align:center";

            var previewPicture = document.createElement('img');
            previewPicture.src = result.preview_path;
            previewPicture.style="width: 100px; height: 100px;";
            previewImageCell.appendChild(previewPicture);

            var priceCell = row.insertCell(row.cells.length);
            priceCell.style = "text-align:center";
            priceCell.innerHTML = "$" + result.price;

            var controlsCell = row.insertCell(row.cells.length);
            controlsCell.style = "text-align:center";

            if(result.bought == 'false') {
              var cartForm = document.createElement("form");
              cartForm.setAttribute("action", "/cart");
              cartForm.setAttribute("method", "post");
              cartForm.setAttribute("style", "display: inline-block;");
              controlsCell.appendChild(cartForm);

              var cartSubmitButton = document.createElement("button");
              cartSubmitButton.setAttribute("type", "submit");
              cartSubmitButton.setAttribute("name", "m_id");
              cartSubmitButton.setAttribute("value", result.m_id);
              cartSubmitButton.setAttribute("style", "background-color: #4CAF50;");
              cartSubmitButton.innerHTML = "Add to Cart";
              cartForm.appendChild(cartSubmitButton);

              var messageForm = document.createElement("form");
              messageForm.setAttribute("action", "/message");
              messageForm.setAttribute("method", "get");
              messageForm.setAttribute("style", "display: inline-block;");
              controlsCell.appendChild(messageForm);

              var messageSubmitButton = document.createElement("button");
              messageSubmitButton.setAttribute("type", "submit");
              messageSubmitButton.setAttribute("name", "acc_id");
              messageSubmitButton.setAttribute("value", result.acc_id);
              messageSubmitButton.setAttribute("style", "background-color: #4CAF50;");
              messageSubmitButton.innerHTML = "Message";
              messageForm.appendChild(messageSubmitButton);
            }
            else {
              var downloadForm = document.createElement("form");
              downloadForm.setAttribute("action", "/download");
              downloadForm.setAttribute("method", "post");
              downloadForm.setAttribute("style", "display: inline-block;");
              controlsCell.appendChild(downloadForm);

              var downloadSubmitButton = document.createElement("button");
              downloadSubmitButton.setAttribute("type", "submit");
              downloadSubmitButton.setAttribute("name", "path");
              downloadSubmitButton.setAttribute("value", result.raw_path);
              downloadSubmitButton.innerHTML = "Download";
              downloadForm.appendChild(downloadSubmitButton);
            }
          });
        });
      }
    </script>
  </head>
  <body>
    <h1>Browse</h1>
    <form name="form" action="" onsubmit="browse();return false">
        <input id='search' type='text' placeholder='Search' name='search'><br>
        <select id='category' name='category'>
          <option value="all">All</option>
          <option value="document">Document</option>
          <option value="image">Image</option>
          <option value="video">Video</option>
          <option value="audio">Audio</option>
        </select><br>
        Page: <input id='page' type='number' name='page' placeholder='1' maxlength="3" size="3"><br>
        <input type='submit' value='Submit'><br>
    </form>
    <table id='table' width="100%">
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Preview Image</th>
        <th>Price</th>
        <th>Controls</th>
      </tr>
      <% results.forEach(function(obj){ %>
      <tr>
        <td style="text-align:center">
          <img src="./<%=obj.author_profile_path%>" style="width: 50px; height: 50px;"> 
          <a><%=obj.author_username%></a>
        </td>
        <td style="text-align:center"><%=obj.title%></td>
        <td style="text-align:center"><%=obj.description%></td>
        <td style="text-align:center"><%=obj.category%></td>
        <td style="text-align:center">
           <img src="./<%=obj.preview_path%>" style="width: 100px; height: 100px;"> 
        </td>
        <td style="text-align:center">$<%=obj.price%></td>
        <% if(obj.bought == 'false') { %>
        <td style="text-align:center">
          <form action="/cart" method="post" style="display: inline-block;">
            <button type="submit" name="m_id" value="<%=obj.m_id%>" style="background-color: #4CAF50;">Add to Cart</button>
          </form>
          <form action="/message" method="get" style="display: inline-block;">
            <button type="submit" name="acc_id" value="<%=obj.acc_id%>" style="background-color: #4CAF50;">Message</button>
          </form>
        </td>
        <% } else { %>
        <td style="text-align:center">
          <form action="/download" method="post" style="display: inline-block;">
            <button type="submit" name="path" value="<%=obj.raw_path%>">Download</button>
          </form>
        </td>
        <% } %>
      </tr>
      <%})%>
    </table>
  </body>
</html>